@media only screen and (max-width: 600px) {
    header {
        font-size: 16px;
    }
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}
header{
    background-color: red;
    color: white;
}
 dl{
    display: flex;
    flex-direction: row;
}
.LienTitre{
    text-decoration: none;
    color: red;
    transition: color 0.3s ease;
}
.LienTitre:hover{
    color:yellow;
}
.LienTitre:visited{
    color: black;
}
.LienTitre:focus {
    color: green;
}
#form h1{
    text-decoration:underline;
    color: red;
    font-size:  50px; 
    padding: 10px;
    margin: 10px;
}
#form label {
    display: inline-block;
    width: 150px;
}
#form{
    padding: 20px;
    width: 500px;
    background-color: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn{
    background-color: #ded983;
    font-size: 1.2em;
    color: #345071;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn:hover {
    background-color: #ffcc00; 
}
.input{
    width: 100%;
    padding: 12px;
    margin: 8px;
    border: #ccc 1px solid ;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
.input:focus {
    border-color: #4CAF50; 
}
footer{
    background-color: red;
    color: white;
}